@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .datatype-select {
        @apply px-2 py-1 text-sm rounded-md border focus:border-blue-500 focus:ring-blue-500;
    }

    .btn {
        @apply px-3 py-2 rounded bg-sky-500 hover:bg-sky-600 text-sky-50 disabled:opacity-75 disabled:hover:bg-sky-500 disabled:cursor-not-allowed;
    }

    .btn-block {
        @apply w-full btn;
    }

    .checkbox {
        @apply w-4 h-4 mr-2 text-blue-600 bg-gray-100 border-gray-300 rounded;
    }
}

@layer utilities {
    .inline-svg {
        display: inline;
        fill: currentColor;
        vertical-align: -0.125em;
        margin-right: 0.5em;
        height: 1em;
        width: 1em;
    }
}