@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .datatype-select {
        @apply px-2;
        @apply py-1;
        @apply text-sm;
        @apply border;
        @apply rounded-md;
        @apply focus:border-blue-500;
        @apply focus:ring-blue-500;
    }
}

@layer utilities {
    .inline-svg {
        display: inline;
        fill: currentColor;
        vertical-align: -0.125em;
        margin-right: 0.5em;
        height: 1em;
        width: 1em;
    }
}